In [2]:
s="sudh"

In [3]:
s+str(1)

'sudh1'

In [4]:
s*10

'sudhsudhsudhsudhsudhsudhsudhsudhsudhsudh'

In [5]:
[1,2,4,"asdfd"]*3

[1, 2, 4, 'asdfd', 1, 2, 4, 'asdfd', 1, 2, 4, 'asdfd']

In [5]:
s.upper()

'SUDH'

In [6]:
s.lower()

'sudh'

In [1]:
a= "My@ name@ is durga@ bhava@ni@@@@ is . "

In [2]:
# Spliting the string, white space is default separator
a.split()

['My@', 'name@', 'is', 'durga@', 'bhava@ni', 'is', '.']

In [3]:
a.split('@')

['My', ' name', ' is durga', ' bhava', 'ni is . ']

In [4]:
#map and lamda functions to write wone multiple separator logics.
a.split('a')

['My@ n', 'me@ is durg', '@ bh', 'v', '@ni is . ']

In [7]:
# partition we should provide by default separator
# split( returns list, all possible partiions) VS partition ( retuns tupples, only first occours)
a.partition('@')

('My', '@', ' name@ is durga@ bhava@ni is . ')

In [11]:
# Returns first occurance specified character of String
a.find('@')

2

In [12]:
# fills the remaing lenght with specified character
f = "sudh"
f.center(50,'v')

'vvvvvvvvvvvvvvvvvvvvvvvsudhvvvvvvvvvvvvvvvvvvvvvvv'

In [17]:
# Tab space in string
'suda\tdurga\tvani\t\t'.expandtabs()

'suda    durga   vani            '

In [19]:
'my name is {} kumar '.format("Sudha")

'my name is Sudha kumar '

In [29]:
#givng name with input 
n = input("Given your first name")
n1 = input("Give your second name")
'my name is {} {} kuram'.format(n,n1)

Given your first namedurga
Give your second namedurga

'my name is durga durga kuram'

In [37]:
s= 'Durga#'

In [38]:
s.isalnum()

False

In [39]:
s.istitle()

True

In [40]:
s.isupper()

False

In [41]:
s.endswith('s')

False

In [42]:
len(s)

6

In [43]:
# will use to dispaly in 
print(s)

Durga#

In [1]:
#Lit is iterable object.
list("Durga")

['D', 'u', 'r', 'g', 'a']

In [3]:
# int is not iterable object
list(234)

TypeError: 'int' object is not iterable

In [4]:
list([34])

[34]

In [5]:
b=[4,6,7,8,'my''name']

In [6]:
b

[4, 6, 7, 8, 'myname']

In [8]:
#appends at Tail position
b.append("Durga")

In [9]:
b

[4, 6, 7, 8, 'myname', 'Durga']

In [11]:
b.insert(2,"su")

In [14]:
b

[4, 6, 'su', 7, 8, 'myname', 'Durga']

In [17]:
b.insert(-10,"durgak")

In [18]:
b

['durgak', 4, 6, 'su', 7, 8, 'myname', 'durgak', 'Durga']

In [20]:
b.pop(2)

6

In [21]:
// Changes are not per
b[::-1]

['durgak', 'myname', 8, 7, 'su', 4, 'durgak']

In [23]:
b.reverse()

In [24]:
b

['durgak', 'myname', 8, 7, 'su', 4, 'durgak']

In [25]:
b.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [26]:
n=[3.4,5,6,'durga','bhavani']

In [27]:
n.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
n=["sudha",'Kumar']

In [29]:
n.sort()

In [30]:
n

['Kumar', 'sudha']

In [31]:
n=[2,5,7,3,4]

In [34]:
n.sort(reverse=True)

In [35]:
n

[7, 5, 4, 3, 2]

In [36]:
#Nested lists
a=[3,4,5,6,7]
b=[36,67,54,2]
c=[2,3,4,5,6,8,3,10]

In [37]:
d=[a,b,c]

In [38]:
d

[[3, 4, 5, 6, 7], [36, 67, 54, 2], [2, 3, 4, 5, 6, 8, 3, 10]]

In [39]:
d[0]

[3, 4, 5, 6, 7]

In [40]:
d[-1]

[2, 3, 4, 5, 6, 8, 3, 10]

In [41]:
d[-1][::2]

[2, 4, 6, 3]

In [47]:
m=[]
d= d[::-1]
for b in d :
    m.append(b[::-1]) 
m

[[10, 3, 8, 6, 5, 4, 3, 2], [2, 54, 67, 36], [7, 6, 5, 4, 3]]

In [46]:
d

[[3, 4, 5, 6, 7], [36, 67, 54, 2], [2, 3, 4, 5, 6, 8, 3, 10]]

In [49]:
n=[]
for i in m:
    n.append(i[2]*2)
n

[16, 134, 10]

In [50]:
#List Comprehension
[i[2]*2 for i in m]

[16, 134, 10]

In [52]:
[{i[2]*2} for i in m]

[{16}, {134}, {10}]

In [54]:
s=[1,2,3,4,5,5]
s.append("sfs")

In [55]:
s

[1, 2, 3, 4, 5, 5, 'sfs']

In [56]:
s.append([24,5,3])

In [57]:
s

[1, 2, 3, 4, 5, 5, 'sfs', [24, 5, 3]]

In [58]:
m=[4,5,67,"fdf"]

In [59]:
# extend extends the list 
m.extend([6,7,8,"dsd"])

In [60]:
m

[4, 5, 67, 'fdf', 6, 7, 8, 'dsd']

In [64]:
m.extend([7,8,9,[6,7,8,"dswre"]])

In [65]:
m

[4, 5, 67, 'fdf', 6, 7, 8, 'dsd', 7, 8, 9, [6, 7, 8, 'dswre']]

In [66]:
m.index(6)

4

In [1]:
m.index(-1)

NameError: name 'm' is not defined

In [2]:
# tuple: another kind of dataset
# tuple,set,dict(),fuction,lamda,iterataror, map, reduce, filter
# Tuple is immutable entity:

In [8]:
m=[5,6,4,7,8,9,7,[1,7,6,7]]

In [9]:
m

[5, 6, 4, 7, 8, 9, 7, [1, 7, 6, 7]]

In [10]:
for i in m:
    if i == 7:
        m.remove(7)
    elif type(i)==list():
        i.remove(7)
    else:
        print("not able to remove anything")
        
m

not able to remove anything
not able to remove anything
not able to remove anything
not able to remove anything

[5, 6, 4, 8, 9, [1, 7, 6, 7]]